$police: "Agency FB";
$secondColor: #070707;
$line: 0.2px;
$thirdColor: #F1F1F1;
$border-color: #58585c;


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $police ;
}


a {
    all: unset;
}

body {
    background-color: #F1F1F1;
    color: $secondColor;
}

// navbar
.navbar {
    position: fixed;
    overflow: hidden;
    width: 200px;
    border-right: solid $line $border-color;
    height: 100%;
    margin-top: -50px;

}

.identity {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 35px;
    margin: 40px;
}

.group-nav {
    margin-top: 50px;
}

.nav-item {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 25px;
    padding: 30px;
}

.nav-item:hover {
    background-color: $secondColor;
    color: #000;
}

.search {
    margin-left: 200px;
    margin-top: 50px;
}


.form-search {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    color: $secondColor;
}

.search {
    margin-left: 200px;
    margin-top: 50px;
}

.form-search button {
    display: flex;
    width: 25px;
    margin-right: -50px;
}

.icon {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.icon {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.principal-container {
    width: 77%;
    height: 100%;
    margin-right: 80px;
    margin-left: 280px;
    margin-top: 70px;
    background-color: $thirdColor;
    padding: 50px;
    border-radius: 15px;
}