
<nav class="navbar">
    <div class="container-nav">
        <a href="/" class="identity">Wild Serie</a>
        <ul class="group-nav">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Categories</a></li>
            <li class="nav-item"><a href="#">Programme</a></li>
            <li class="nav-item"><a href="#">About us</a></li>
        </ul>
    </div>
</nav>

<div class="search">
            <span class="icon">
                <input class="form-search" type="search" placeholder="search">
                <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
            </span>
</div>